root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# CS files
[*.cs]
indent_size = 4

dotnet_diagnostic.CA1001.severity = suggestion      # CA1001: Type owns disposable field(s) but is not disposable
dotnet_diagnostic.CA1848.severity = suggestion      # CA1848: For improved performance, use the LoggerMessage delegates
dotnet_diagnostic.CA1707.severity = none            # CA1707: Remove underscores from member name
dotnet_diagnostic.IDE0130.severity = none           # IDE0130: Namespace does not match folder structure
dotnet_diagnostic.RCS1194.severity = none           # Implement exception constructors.
dotnet_diagnostic.RCS1036.severity = warning        # Remove unnecessary blank line.
dotnet_diagnostic.RCS1037.severity = warning        # Remove trailing white-space.
dotnet_diagnostic.RCS1097.severity = warning        # Remove redundant 'ToString' call.
dotnet_diagnostic.RCS1192.severity = warning        # Unnecessary usage of verbatim string literal.
dotnet_diagnostic.RCS1211.severity = warning        # Remove unnecessary else clause.
dotnet_diagnostic.RCS1214.severity = warning        # Unnecessary interpolated string.
dotnet_diagnostic.RCS1225.severity = warning        # Make class sealed.